@import "tailwindcss";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}
